name: Global Launch

on:
  workflow_dispatch:
    inputs:
      ref:
        description: Git ref to launch
        required: false
        default: main

jobs:
  deploy-staging:
    name: Deploy staging
    uses: ./.github/workflows/deploy_web.yml
    with:
      environment: staging
      ref: ${{ inputs.ref }}
      require_apply_approval: false
    secrets: inherit

  approval-prod:
    name: Approve production rollout
    needs: deploy-staging
    runs-on: ubuntu-latest
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          approvers: ${{ github.actor }}
          instructions: 'Review staging (zoracore.app) and approve to release all domains.'

  deploy-prod:
    name: Deploy production
    needs: approval-prod
    uses: ./.github/workflows/deploy_web.yml
    with:
      environment: prod
      ref: ${{ inputs.ref }}
      require_apply_approval: true
    secrets: inherit
